.itemspage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
}

/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.itemspage .itemslist .win-horizontal.win-viewport .win-surface {
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 115px;
    margin-top: 155px;
}

.itemspage .itemslist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .itemspage .itemslist .item{
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 72px;
        display: -ms-grid;
        height: 180px;
        width: 250px;
        border:1px solid #ccc;
        background:url(/images/slantBlue.png);
    }
	
    .lightGreen{
        border-left: solid thick #009100;
	    /*background: #009100;*/
    }
    .lightBlue{
        border-left: solid thick #2b82ef;
	    /*background: #2b82ef;*/
    }
    .lightRose{
        border-left: solid thick #af1a3f;
	    /*background: #af1a3f;*/
    }
    .lightOrange{
        border-left: solid thick #d14725;
	    /*background: #d14725;*/
    }
    .lightGold{
        border-left: solid thick #ffd700;
	    /*background: #ffd700;*/
    }
    .lightGray{
        border-left: solid thick #474747;
	    /*background: #474747;*/
    }
    
        .itemspage .itemslist .item .item-image {
            -ms-grid-row-span: 2;
            width:60px;
            height:60px;
			margin-left:-10px;
        }

        .itemspage .itemslist .item .item-overlay {
            -ms-grid-row: 2;
            -ms-grid-rows: 1fr 21px;
            display: -ms-grid;
            padding: 6px 15px 2px 15px;
        }

        
			.itemspage .itemslist .item .item-headertitle {
					-ms-grid-row: 1;
					overflow: hidden;
					width: 230px;
					padding-left:10px;
                    font-size:1.5em;
				}
			.itemspage .itemslist .item .item-overlay .item-titleFirstName {
                -ms-grid-row: 1;
                overflow: hidden;
                width: 160px;
                padding-left:60px;
				color:#FFF;
            }
			.itemspage .itemslist .item .item-overlay .item-titleLastName {
                -ms-grid-row: 1;
                overflow: hidden;
                width: 160px;
                padding-left:60px;
				padding-top:24px;
				color:#FFF;
            }
            .itemspage .itemslist .item .item-overlay .item-title {
                -ms-grid-row: 1;
                overflow: hidden;
                width: 160px;
                padding-left:60px;
            }

            .itemspage .itemslist .item .item-overlay .item-subtitle {
                -ms-grid-row: 2;
                width: 160px;
                padding-left:60px;
            }

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {

    .itemspage .itemslist .item .item-overlay {
        background: rgba(0,0,0,0.5);
    }

        .itemspage .itemslist .item .item-overlay .item-title {
            color: rgba(255,255,255,0.87);
        }

        .itemspage .itemslist .item .item-overlay .item-subtitle {
            color: rgba(255,255,255,0.6);
        }
}

@media screen and (-ms-view-state: fullscreen-landscape) and (-ms-high-contrast), screen and (-ms-view-state: fullscreen-portrait) and (-ms-high-contrast), screen and (-ms-view-state: filled) and (-ms-high-contrast) {
    .itemspage .itemslist .item .item-overlay {
        color: WindowText;
    }
}

@media screen and (-ms-view-state: snapped) {
    .itemspage section[role=main] {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    .itemspage .itemslist {
        margin-top: 0;
    }

        .itemspage .itemslist .win-vertical.win-viewport .win-surface {
            margin-bottom: 30px;
        }

        .itemspage .itemslist .win-container {
            margin-bottom: 15px;
            margin-left: 13px;
            margin-right: 35px;
            padding: 7px;
        }

        .itemspage .itemslist .item {
            -ms-grid-columns: 60px 1fr;
            -ms-grid-rows: 1fr;
            display: -ms-grid;
            height: 60px;
            width: 272px;
        }

            .itemspage .itemslist .item .item-image, .itemspage .itemslist .item:hover .item-image {
                -ms-grid-column: 1;
                -ms-grid-row-span: 1;
                height: 60px;
                width: 60px;
            }

            .itemspage .itemslist .item .item-overlay {
                -ms-grid-column: 2;
                -ms-grid-row: 1;
                -ms-grid-row-align: stretch;
                background: transparent;
                display: inline-block;
                margin-left: 10px;
                padding: 0;
            }

                .itemspage .itemslist .item .item-overlay .item-title {
                    margin-top: 4px;
                    max-height: 40px;
                    width: 202px;
                }

                .itemspage .itemslist .item .item-overlay .item-subtitle {
                    opacity: 0.6;
                    width: 202px;
                }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .itemspage .itemslist .win-horizontal.win-viewport .win-surface {
        margin-left: 100px;
    }
}