
html {
	display: -ms-grid;
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 1fr;
}

#rootGrid {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	
	display: -ms-grid; 
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 100px 1fr 100px;

	margin-left: 25px;
}

#header {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	margin-top: 25px;
}

#content {
	
	-ms-grid-column: 1;
	-ms-grid-row: 2;
	
	display: -ms-grid;
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 1fr .5fr 1.5fr;
	
}

#contentValue {
	-ms-grid-row: 1;
}

#submitArticle {
	-ms-grid-row: 2;
}

#quickLinkArea {
	-ms-grid-row: 3;
}
	
#footer {
	-ms-grid-row: 3;
	margin-top: 25px;
}

#submitProgress {
    visibility: hidden;
}

#quickLinkIcon {
    width:75px;
    height:75px;
    position:relative;
    top:-170px;
    float: left;
}

#quickLinkId, #quickLinkName, #quickLinkWebsite, #quickLinkTwitter {
    width:340px;
    height:32px;
    position:relative;
    margin-left:5px;
    float: left;
}

.labelTextQL { 
width:100px;
height:32px;
margin-left:100px;
float: left;
padding-top:12px;

} 